<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/var/jenkins_home/workspace/buildcode/Code</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

IMAGE=app11

if [[ &quot;$(docker images -q $IMAGE:latest 2&gt; /dev/null)&quot; == &quot;&quot; ]]; then
  docker build -t $IMAGE .
fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

CONTAINER=app11
 
RUNNING=$(docker inspect --format=&quot;{{ .State.Running }}&quot; $CONTAINER 2&gt; /dev/null)

if [ $? -eq 1 ]; then
  echo &quot;&apos;$CONTAINER&apos; does not exist.&quot;
else
  /usr/bin/docker rm --force $CONTAINER
fi
docker run --name $CONTAINER -d -p 9998:8080 $CONTAINER
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>